<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>other</title>
  <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
  <div id="view"></div>
  <script id="demo" type="text/html">
  <h3>{{ d.title }}</h3>
  <ul>
  {{#  layui.each(d.list, function(index, item){ }}
    <li>
      <span>{{ item.modname }}</span>
      <span>{{ item.alias }}：</span>
      <span>{{ item.site || '' }}</span>
    </li>
  {{#  }); }}
  {{#  if(d.list.length === 0){ }}
    无数据
  {{#  } }}
  </ul>
  </script>

  <script src="../layui/layui.js"></script>
  <script>
  layui.config({
    base: './modules/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['tmpl/tmpl']); //加载入口
  </script>
</body>
</html>
